.root {
    display: flex;
    flex-direction: column;
    min-width: 130px;
    min-height: 110px;
    /*aspect-ratio: 1;*/
    border: 1px solid var(--border-color);
    transition: background-color .15s ease;
    padding: 6px;
}
.root:hover {
    background-color: var(--background-color);
    border: 1px solid var(--primary-border);
    border-radius: 6px;
}
.dayNumber {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 16px;
}

.active {
    background: var(--primary-color);
    color: white;
    font-weight: 500;
}
.selected {
    background: var(--primary-light);
    outline: 2px solid var(--primary-border);
    outline-offset: -2px;
    border-radius: 6px;
}