.root {
    display: flex;
    align-items: flex-start;
    gap: 6px;
}
.name {
    font-size: 12px;
    line-height: 1.35;
    color: var(--text-color);

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.completed {
    color: var(--secondary-text);
    text-decoration: line-through;
}