.root {
    display: flex;
    gap: 16px;
    align-items: flex-start;
}
.calendarContainer {
    border: 1px solid var(--border-color);
    background-color: var(--light-color);
    border-radius: var(--border-radius);
    padding:  14px 16px;
    box-shadow: var(--shadow);
    margin-bottom: 16px;
}