:root {
    --dark-color: #000000;
    --light-color: #FFFFFF;
    --primary-color: #c8b6ef;
    --gray-color: #adadbc;
    --dark-hover-color: #161616;
    --light-transparent-color: rgba(248, 248, 250, 0.75);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100dvh;
    font-family: 'Poppins', sans-serif;
    background-color: #141414;
    color: white;
}

a,
a:link,
a:visited {
    text-decoration: none;
}

ul,
ul li {
  list-style: none;
}

.container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}